<form action="/anagrams">
  <div class="form-group">
    <label for="anagrams">Input A Sentence!</label>
    <input type="text" name="anagrams" id="anagrams" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Anagramakeize!</button>
</form>
